# Build directories
build/

# Log files
.log

# Test files
test.*

# Compiled files
*.scc

# Windows compiled executables
saltc.exe
svm.exe

# Swap files
*.swp

# Programming enviroments
.vscode/
.idea/

# Temporary change log
# To not forgot what was changed, to describe it in snapshot merge log)
changelog.md