# Because all test.* files are ignored in the top level gitignore, 
# accept the test.json files as configuration
!test.json

# Ignore the result files, because they can have a couple of thousand
# lines sometimes.
result.txt
